@import url('https://fonts.googleapis.com/css2?family=Dhurjati&family=Josefin+Sans&family=Noto+Sans:wght@900&display=swap');

body {
    margin: 0;
    padding: 0;
}
.text_start {
    text-align: center;
    background-image: url("assets/imgs/backround/backround_main_blended.png");
    background-color: black;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 200px;
}

.main_text {
    font-size: 170px;
    font-family: "Noto Sans", serif;
    color: antiquewhite;
    font-weight: bolder;
    font-style: normal;
    animation: slide-right;
    animation-duration: 7s;
}

.bottom_main_text {
    font-size: 70px;
    font-family: "Josefin Sans", Arial, serif;
    color: black;
    font-feature-settings: normal;
    font-weight: bold;
    animation: blend-in;
    animation-duration: 6s;
}

.paragraph {
    background-size: cover;
    display: flex;
    margin-bottom: 10px;
}


.window_image {
    background: white;
    width: 50%;
    text-align: center;
    z-index: 1;
}

.window_content {
    background: ghostwhite;
    width: 50%;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    border-color: ghostwhite;
    border-style: solid;
    border-radius: 200px;
    border-width: 50px;
    animation: blend-in;
    animation-duration: 4s;
    z-index: 2;
}

.heading_info {
    text-align: center;
    font-size: 70px;
    font-family: "Noto Sans", Arial Rounded MT, Serif, serif;
    font-style: normal;
    color: cadetblue;
}


.text_info {
    text-align: center;
    font-size: 50px;
    font-family: "Josefin Sans", Arial Rounded MT, Serif, serif;
    font-style: normal;
    color: black;
}


.logo {
    max-width: 10%;
    height: auto;
}

.navitem{
    margin: 0;
    position: relative;
    color: grey;
    align-items: center;
    font-weight: 500;
    z-index: 1;

}


a:hover {
    color: black;
    transition: 0.5s ease-in-out;
    transform: translate(0px, -10px);
    background: antiquewhite;
}

a span {
    display: inline-block;
}


#logo_1{
    max-height: 90%;
    width: 77%;
}

#navbar{
    display: grid;
    gap: 20px;
    align-items: center;
    font-family: 'Dhurjati', sans-serif;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    color: blue;
    margin-bottom: 50px;

}


#structure_symbol_1{
    max-height: 100%;
    width: 100%;
}

#grad_box {
    padding-bottom: 400px;
    width: 100%;
    font-size: 0;
    border: none;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(1,8,1,0.98) 0%, rgba(218,218,211,1) 54%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%);
}
#grad_box_invert {
    padding-bottom: 100px;
    width: 100%;
    font-size: 0;
    border: none;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 54%, rgba(218,218,211,1) 80%, rgba(1,8,1,0.98) 100%);
}


.blackbox{
    background: rgba(1,8,1,0.98);
}

.product_name {
    animation: none;
    animation-duration: 0s;
}

.product_info {
    color: white;
}

#black {
    display: grid;
    gap: 0;
}

.footer{
    font-size: 20px;
    background: white;
    font-family: "Josefin Sans", serif;

}



@keyframes slide-right {

    from {
        margin-left: -1000px;
        opacity: 0;
    }

    to {
        margin-left: 0;
        opacity: 100%;
    }

}

@keyframes blend-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 100%;
    }
}


@media only screen and (max-width: 500px) {

    header{
        text-align: center;
        background-image: url("assets/imgs/backround/backround_main_mobile.png");
        background-color: black;
        background-size: auto;
        background-repeat: no-repeat;
        max-width: 500px;
        height: auto;
        padding-top: 100px;
        padding-bottom: 200px;
    }

    .text_start{
        padding-left: 30px;
        text-align: center;
    }

    #navbar {
        scale: 0.65;
    }

    .product_name {
        text-align: center;
        padding: 32px;
    }

    .heading_info {
        font-size: 32px;
    }

    .paragraph {
        scale: 1;
        font-size: small;
    }

    .window_image {
        
    }

    .text_info {
        font-size: 24px;
    }

    .footer {
        scale: 0.9;
        margin-bottom: 8px;
    }

    .main_text{
        font-size: 32px;
        font-family: San Francisco, Arial, serif;
        color: whitesmoke;
        font-feature-settings: normal;
        font-weight: bolder;
    }

    .bottom_main_text{
        font-size: 30px;
        font-family: San Francisco, Arial, serif;
        color: #b1ff8c;
        font-feature-settings: normal;
        font-weight: bold;
    }

    .first_paragraph{

    }

    .black_left{
        background: dimgrey;
        width: 100%;
        background-size: cover;
        padding-top: 200px;
        padding-bottom: 200px;
    }

    .white_right{
        background: white;
        width: 100%;
        background-size: cover;
        padding-top: 200px;
        padding-bottom: 200px;
    }


    .logo {
        max-width: 10%;
        height: auto;
    }
}

@font-face {
    font-family: "San Francisco";
    src: url("assets/fonts/._san_francisco-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "San Francisco";
    src: url("assets/fonts/._san_francisco-webfont.woff2") format("woff2");
    font-weight: bold;
    font-style: normal
}

